.navbar {
    background: transparent;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    position: sticky;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 1500px;
  }
  