
.App {
  text-align: center;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  color: black;
  line-height: 20px;
}

body {
  margin-top:0;
  background-image: url('./img/linesbackground.png'); 
  height:100%;;
  scroll-behavior: smooth;
  line-height: 20px;
}
