:root {
    --primary: transparent;

}

.btn {
    padding: 8px 20px;
    border-radius: 7px;
    outline:none;
    border:none;
    cursor:pointer;
}

.btn--outline{
    background: transparent;
    color: white;
    font-weight:thin;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    border-color: white;
    box-shadow: 1px 1px 8px white;
}

.btn--medium {
    font-size: 20px;
}

.btn--large {
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: white;
    color: black;
    transition: all 0.3s ease-out;
    box-shadow: 1px 1px 8px gray;
}